// add all the colors here

// common
$primary-color: #012f51;
$secondary-color: #23bb2d;
$button-text-color: #ebf6ff;
$dark-para: #8f8f8f;
$light-para: #dedede;
$white: #fff;
$black: #000;
$text-color: #012f52;
$footer-link: #d6d6d6;
$error: #db7f72;

// page-wise colors
