@use './config.scss' as *;
@use './resets' as *;

body {
    font-family: $ff-body;
    color: $light-para;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $ff-heading;
    color: $primary-color;
}

h1 {
    font-weight: 800;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 500;
}
