@use './styles/globals.scss' as *;

*,
*::before,
*::after {
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
    margin: 0;
}