$mobile-small: 372px;
$mobile: 768px;
$desktop: 1440px;
$large-screen: 1920px;

@mixin mobile-small {
    @media screen and (max-width: $mobile-small) {
        @content;
    }
}

@mixin mobile {
    @media screen and (min-width: $mobile-small) and (max-width: $mobile) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $mobile) and (max-width: $large-screen) {
        @content;
    }
}

@mixin large-screen {
    @media screen and (min-width: $large-screen) {
        @content;
    }
}
